<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="myBeanAware" class="club.mrzero.spring.MyBeanAware"/>

	<bean id="hello" class="club.mrzero.spring.HelloBean"/>

	<bean id="myPost" class="club.mrzero.spring.context.MyBeanFactoryPostProcessor"></bean>

	<bean class="club.mrzero.spring.context.MyInstantiationAwareBeanPostProcessor"/>

	<bean id="testListener" class="club.mrzero.spring.context.TestListener"></bean>

</beans>